body {
  text-align: center;
}

h1 {
  color: darkred;
  background: #cccccc;
  padding: 1rem;
}

img {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 0.3rem;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 0.3rem;
}
